/* CSS for About Trailer Inner Page */
@media only screen {
	.about .master{
		background: #28a3cf;	
	}
	
	.aboutContent {
		padding-bottom:50px;	
	}
	
	.info-center-text {
		text-align:center;
		font-size:16px;
		color:#FFFFFF;	
	}
	
	.buttons {
		margin-left:auto;
		margin-right:auto;
		width:566px;	
	}
	
	.btn_trailer {
		margin:0px 20px;
		display:inline-block;
		
	}
	
	.btn_character {
		margin:0px 20px;
		display:inline-block;
		
	}

}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*    SCREEN BELOW 1279px                                                                                                                                              */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1279px) {

	
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*    SCREEN ABOVE 1280px                                                                                                                                              */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1280px) {
  /* above 1280px */
 
  

}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*    SCREEN BELOW 767px                                                                                                                                             */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px){
	.buttons {
		text-align:center;
		width:100%;	
	}
	
	.btn_trailer , .btn_character{
		min-height:80px;
		height:80px;
		
	}

  

}