.omg .master{background: #F2EEE3}
.omg .ome{background: transparent;}
.omg ul.menu li a{padding:10px 24px; background: #006FB1; margin-right: 3px; font-size: 19px}
.omg .sub-menu{float: left;}
.omg ul.menu li a:hover, .omg ul.lang-sel li a:hover{background: #142a3a}
.omg ul.menu .lang-sel a{padding:12px 20px; background: #CEC8B2; margin-right: 3px; font-size: 16px}

.omg ul .lang-sel a.en:lang(en), .omg ul .lang-sel a.ms:lang(ms){ background: #00BBB4}

.ome .logo, .overlay{display: none;}

.omg .header:lang(en), .omg .header:lang(ms){ width: 100%; min-height: 100px; margin-top: 10px}

.trailer .content, .synopsis .content, .meet-char .content { position: relative; margin: auto; width: 1280px; padding-top: 20px; padding-bottom: 20px;}
.omg .meet-char{padding-bottom: 50px}

.omg h2.title{font-size: 42px; color: #CF1173; text-shadow:-2px 3px 0 #006FB1}

.omg .trailer > .content{overflow: hidden;}
.omg .trailer > .content ul li{ float: left;}
.omg .trailer .nav, .omg .trailer .nav.disable:hover{position: absolute; top: 45%; color: #43200A; font-size: 20px; padding:0 10px; cursor: default;}
.omg .trailer .nav:hover{cursor: pointer; color: #00BBB4}
.omg .trailer .nav.left{left: 0}
.omg .trailer .nav.right{right: 0}
.omg .trailer .nav.left span, .omg .trailer .nav.right span{display: none}
.omg .trailerSlider{height: 415px}
.omg .video-player{width: 100%; max-width: 730px; height: 415px; border:4px solid #43200A; margin:auto;}

.omg .synopsis{background: #EAE5D2; color: #603913}
.omg .synopsis p.info{max-width: 900px}


.btnWrap{text-align: center;}

/*meet char*/
.omg .meet-char > .content .char-list ul { list-style: none; padding: 0; margin: 0; display: block; margin:0 auto; max-width: 984px;}
.omg .meet-char > .content .char-list ul li.empty{ width: 240px}
.omg .meet-char > .content .char-list ul li{position: relative; float: left; display: block; width: 240px; height: 240px; margin: 3px; padding: 0; overflow: hidden;}
.omg .meet-char > .content .char-list ul li .char-item{width: 100%; display: block; transition: all 0.25s ease-out;}
.omg .meet-char > .content .char-list ul li .char-item img{width: 100% !important; height: 100%}
.omg .meet-char > .content .char-list ul li .char-item .char-know-more { position: absolute; left: 0; bottom: -30px; width: 100%; height: 30px; background: #0070B0; z-index: 50; color: #ffffff; font-size: 0.95em; text-transform: uppercase; text-align: center;
  -transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.omg .meet-char > .content .char-list ul li .char-item .char-know-more a{display: block; padding:8px;}
.omg .meet-char > .content .char-list ul li .char-item:hover, .omg .meet-char > .content .char-list ul li .char-item.expand{cursor: pointer; border: 4px solid #0070B0; }
.omg .meet-char > .content .char-list ul li .char-item.expand .char-know-more, .meet-char > .content .char-list ul li .char-item:hover .char-know-more{bottom: 0}

.omg .meet-char > .content .char-list ul li .char-item .char-know-more .char-know-more-content .fa{margin-left: 5px}



.overlay {
  background: rgba(255,255,255,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
}

.overlay .content{max-width: 760px; width: 100%; position: absolute;top: 0; bottom: 0; left: 0; right: 0; margin: auto; max-height: 400px; z-index: 2000000}
.overlay .content .char-info{display: table; background: #00BBB4; padding:40px}
.overlay .content .close{font-size: 20px; right: 0; padding:10px 12px; background: #FF0581; line-height: 20px; position: absolute; top: 0; right: 0}

.overlay .char-thumb{width: 240px; display: inline-block; margin-right: 30px; display: table-cell;}
.overlay .char-thumb img{width: 100%; border:4px solid #0070B2}
.overlay .char-desc{display: table-cell; vertical-align: top; text-align: left;padding-left: 30px; color: #FFFFFF}
.overlay h3{ border-bottom: 2px solid #FFFFFF; color: #FFFFFF; padding-bottom: 10px; font-size: 22px; margin-top: 0; margin-bottom: 14px}
.overlay p.info{text-align: left; line-height: 26px; margin-bottom: 0}

.noScroll{display: none;}


@media only screen {

}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*    SCREEN BELOW 1279px                                                                                                                                              */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1279px) {
  /* below 1279px */

  .omg .header:lang(en){background: url('../images/omg/omg_header.png') center no-repeat; height: 181px }
  .omg .header:lang(ms){background: url('../images/omg/omg_header_ms.png') center no-repeat; height: 181px }
  .omg .header:lang(en), .omg .header:lang(ms){background-size: 65%}

  .trailer .content, .synopsis .content, .meet-char .content{width: 100%; max-width: 768px}
  .omg .trailerSlider{height: 400px}
  .omg .video-player{max-width: 700px; height: 400px}

  .synopsis p.info{padding:0 35px;}

  .omg .meet-char > .content .char-list ul { max-width: 744px;}
  .omg .meet-char > .content .char-list ul li.empty{ width: 120px}
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*    SCREEN ABOVE 1280px                                                                                                                                              */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1280px) {
  /* above 1280px */
  .omg .header:lang(en){background: url('../images/omg/omg_header.png') center no-repeat; height: 181px }
  .omg .header:lang(ms){background: url('../images/omg/omg_header_ms.png') center no-repeat; height: 181px }

  .omg .trailer .nav.left{left: 100px}
  .omg .trailer .nav.right{right: 100px}
  .omg .trailer .content .trailerSlider{background: url('../images/omg/omg_trailer_bg.png') center 77px no-repeat}


}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*    SCREEN BELOW 767px                                                                                                                                             */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px){
  /* below 767px */
  ul.menu li{float: left; width: 33.33%}
  .omg ul.menu li a, .omg ul.menu .lang-sel a{margin-right: 0; height: 44px}


  .omg .header:lang(en){background: url('../images/omg/omg_header_sm.png') center no-repeat; height: 277px }
  .omg .header:lang(ms){background: url('../images/omg/omg_header_sm_ms.png') center no-repeat; height: 277px }

  .trailer .content, .synopsis .content, .meet-char .content{max-width: 480px}
  .omg .trailerSlider{height: 244px}
  .omg .video-player{max-width: 420px; height: 244px}
  .omg .meet-char > .content .char-list ul li{width: 234px}
  .omg .meet-char > .content .char-list ul li.empty{ width: 0; margin:0;}

  

  .overlay .content{max-width: 480px; display: block; position: relative; max-height: 100%; overflow-y: auto; }
  .overlay .content .char-info{padding-top: 50px; position: relative;}
  .overlay .char-thumb, .overlay .char-desc{width: 100%; display: block;}
  .overlay .char-desc{padding-left: 0; margin-top: 30px}
  
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*    SCREEN BELOW 480px                                                                                                                                             */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 480px){
  .omg .header:lang(en), .omg .header:lang(ms){background-size: 95%}
  .omg .trailerSlider{height: 150px}
  .omg .video-player{max-width: 260px; height: 150px}

  .omg .synopsis .more{ display: none;}

  .omg .meet-char > .content .char-list ul li{ width: 48.1%; height: auto}
}
